/*
fuentes
fondo
esquema
mediaqueries
*/
@import url("var_color.css");
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-body);
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: 0.5fr 10fr 0.3fr;
  grid-template-areas:
    "header"
    "main"
    "footer";
  align-content: space-between;
}

header {
  grid-template-columns: header;
}

main {
  grid-area: main;
  padding-bottom: 1rem;
}

footer {
  grid-area: footer;
}

a {
  color: var(--color-beige);
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

@media (hover: hover) {
  a:hover {
    color: var(--color-hov);
  }
}
