.header {
  padding-bottom: 1px;
  position: sticky;
  z-index: 40;
  top: 0;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background-color: #e9bc58;
  opacity: 0.9;
  color: beige;
}
.logo {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.logo_betty {
  height: 92px;
  margin-left: 5rem;
  margin-right: 10px;
}
.logo_nombre {
  margin-bottom: 4px;
}

.logo_texto {
  margin-bottom: 0;
  margin-left: -3px;
}

.navbar {
  display: none;
}

@media (width>600px) {
  .navbar {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  .nav_enlaces {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 01rem;
    padding-right: 0.4rem;
  }
}

.nav_item {
  font-size: 14px;
  transition-property: fontsize;
  transition-duration: 4s;
  transition-delay: 2s;
}

@media (hover: hover) {
  .nav_item:hover {
    font-size: 30px;
  }
}
