@import url("var_color.css");

footer {
  background-color: var(--color-head_foot);
  justify-content: end;
}

.pie_link {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 1rem;
}
