:root {
  --color-red: #ff0000;
  --color-beige: #f5f5dc;
  --color-blue: #0000ff;
  --color-black: #000000;
  --color-grey: #808080;
  --color-nav: #e9bc58;
  --color-azu: #f0ffff;
  --color-hov: #81611d;
  --color-body: #f3e5c8;
  --color-hSkill: #a8723c;
  --color-ptext: #603b17;
  --color-head_foot: #e9bc58;
  --color-back_form: rgb(239, 192, 125);
  --color-form_hov: rgb(217, 151, 59);
}
